<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.usecases.mybatis.dao.CourseMapper">
    <resultMap id="BaseResultMap" type="lt.vu.usecases.mybatis.model.Course">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="university_id" jdbcType="INTEGER" property="universityId"/>
        <association property="university" resultMap="lt.vu.usecases.mybatis.dao.UniversityMapper.BaseResultMap"
                     columnPrefix="university_"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM public.course
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="lt.vu.usecases.mybatis.model.Course" useGeneratedKeys="true">
        INSERT INTO public.course (name, university_id)
        VALUES (#{name,jdbcType=VARCHAR}, #{universityId,jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKey" parameterType="lt.vu.usecases.mybatis.model.Course">
        UPDATE public.course
        SET name = #{name,jdbcType=VARCHAR},
        university_id = #{universityId,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            id,
            name,
            university_id
        FROM public.course
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            c.id,
            c.name,
            c.university_id,
            u.title as university_title
        FROM public.course c
          LEFT JOIN public.university u ON c.university_id = u.id
    </select>
</mapper>